<!DOCTYPE html>
<html ng-app="aPms">
<head>
  <title>ANTI-PMS.RU</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice || alert %>
    <div class="col-lg-offset-3 col-md-6" style="padding-top: 120px;">
      <h3 class="text-center"><%= SITE_URL %></h3>
      <% if notice %>
          <div class="alert alert-success text-center" role="alert">
            <h3><%= notice %></h3>
          </div>
      <% end %>
      <% if alert %>
          <div class="alert alert-danger text-center" role="alert">
            <h3><%= alert %></h3>
          </div>
      <% end %>
      <div class="text-center">
        <h4><%= link_to 'Нажмите для продолжения', friends_path %></h4>
      </div>
    </div>
<% else %>
    <%= yield %>
<% end %>
</body>
</html>
